Host *
	ForwardAgent yes
	ServerAliveInterval 3
	ServerAliveCountMax 20
	TCPKeepAlive no
	ControlMaster auto
	ControlPath ~/.ssh/%h-%p-%r
	ControlPersist 4h
	Compression yes

Host dev
    HostName 20.0.0.222
    User wasadmin
    Port 22
    IdentityFile ~/.ssh/dev_id_rsa

Host sit
    HostName 20.0.0.239
    User wasadmin
    Port 22
    IdentityFile ~/.ssh/sit_id_rsa

Host uat
    HostName 20.0.1.5
    User ro
    Port 22
    IdentityFile ~/.ssh/id_rsa

Host yc
    HostName 20.0.1.12
    User wasadmin
    Port 22
    IdentityFile ~/.ssh/id_rsa